<tbody>
<tr>
  <td class="center" style="text-align: center;vertical-align: middle;">
    <label>
      <input type="checkbox">
      <span class="lbl"></span>
    </label>
  </td>
  <td class=""><%= nms_update.service_type %></td>
  <td class=""><%= nms_update.basestation %></td>
  <td class=""><%= nms_update.direction %></td>
  <td class=""><%= nms_update.device_make %></td>
  <td class=""><%= nms_update.device_model %></td>
  <td class=""><%= nms_update.ba_service_number %></td>
  <td class=""><%= nms_update.partner %></td>
  <td class=""><%= nms_update.business_name %></td>
  <td class=""><%= nms_update.address %></td>
  <td class=""><%= nms_update.ip_address %></td>
  <td style="word-wrap: break-word;"><%= nms_update.comments %></td>
  <td class="">Created <%= time_ago_in_words(nms_update.created_at) %> ago.</td>
</tr>
</tbody>